<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleName</key><string>LightSnap</string>
    <key>CFBundleDisplayName</key><string>轻截</string>
    <key>CFBundleIdentifier</key><string>local.jamie.LightSnap</string>
    <key>CFBundleExecutable</key><string>LightSnap</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.1.7</string>
    <key>CFBundleVersion</key><string>10</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>LSUIElement</key><true/>
    <key>LSMultipleInstancesProhibited</key><true/>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>CFBundleDevelopmentRegion</key><string>zh_CN</string>
    <key>NSMicrophoneUsageDescription</key><string>轻截在你开启麦克风录制时收录讲解声音。</string>
    <key>NSCameraUsageDescription</key><string>轻截在你选择摄像头后录制画中画。</string>
    <key>NSCameraUseContinuityCameraDeviceType</key><true/>
</dict></plist>
